<!-- barebones html -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5><!--{{post.title}}-->
          <p><strong>Created By:</strong></p><!--{{post.author}}-->

          <p>Recommended Material: </p><p></p><!--{{post.recommended}}-->
          <p><strong>Topic</strong></p><!--{{post.topic}}-->
          <p><strong>Importance:</strong></p><!--{{post.importance high,medium,low,null}}-->
        <div id="post-image">
<img src="/"></img> <!--{{image.source}}-->
        </div>
        <p>Author: Name @date @timestamp - Comment about post </p><!--{{author.name, @date, @timeStamp, post.content.description}}-->
    </div><div>
<h2>Comments</h2><!--Customize title of comments...totally a last minute thought-->
<div style="border-style: solid; border-color: black; height: 150px;">
<div><p>@date @timestamp <strong>group-attendee</strong>: Comment Here </p></div><!--{{image.source}}-->
</div>
    </div>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>