<!-- barebones html for content -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          {{!-- <!--{{post.title}}--> --}}
          <p><strong>Created By:</strong></p>
          {{!-- <!--{{post.author}}--> --}}

          <p>Recommended Material: </p>
          <p></p>
          {{!-- <!--{{post.recommended}}--> --}}
          <p><strong>Topic: {{content.topic}} </strong></p>
          {{!-- <!--{{post.topic}}--> --}}

          {{!-- <p><strong>Importance:</strong></p>
          <!--{{post.importance high,medium,low,null}}--> --}}

          <div id="post-image">
            <img src="/"></img>
            {{!-- <!--{{image.source}}--> --}}
          </div>
          <p>
            <li>Author of Post: {{content.authorName}} </li>
            <li> Created at: {{content.createdAt}} </li>{{content.content}}
          </p>
          {{!-- <!--{{author.name, @date, @timeStamp, post.content.description}}--> --}}
        </div>
        <div>
          <h2>Comments</h2>
          {{#each feedback}}
          <div style="border-style: solid; border-color: black; height: 150px;">
            <p>{{this.authorName}}</p>
            {{!-- If false it will be 0, if true it will be 1 --}}
            <li> {{this.helpful}}</li>
            <li> {{this.comment}}</li>
            <li> {{this.createdAt}}</li>
            <li> {{this.postId}}</li>
            {{!-- <!--Customize title of comments...totally a last minute thought--> --}}
            {{!-- <div>
              <p>@date @timestamp <strong>group-attendee</strong>: Comment Here </p>
            </div> --}}
            {{!-- <!--{{image.source}}--> --}}
          </div>
          {{/each}}
          <br>
          <br>
        </div>
        <h3>Post a comment: </h3>
        {{!-- Form for group create --}}
        <form id="feedback"  >
      <div class="form-group">

            <label for="authorName">Author Name</label>
            <input type="text" id="authorName-input" class="form-control" aria-describedby="example-text"
              placeholder="Author Name Here">
      </div>
      <div class="form-group"></div>
          <label for = "helpful">Helpful? </label>
          <input type="number" id="helpful-input" class="form-control" aria-describedby="example-text"
            placeholder="Chose 0 for no and 1 for yes!">
      </div>
      <div class="form-group"></div>
          <label for = "comment">Comment </label>
          <input type="text" id="comment-input" class="form-control" aria-describedby="example-text"
            placeholder="Write a comment here! ">
      </div>
      <div class="form-group">
          <label for = "form-postId">Post ID </label>
          <input type="number" id="postId-input" class="form-control" aria-describedby="example-text"
            placeholder="">
      </div>
      <button type="submit"  style="background-color: green;">Create</button>
      </form>

      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/content.js"></script>