<!-- barebones html for content -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          {{!-- <!--{{post.title}}--> --}}
          <p><strong>Created By:</strong></p>
          {{!-- <!--{{post.author}}--> --}}

          <p>Recommended Material: </p>
          <p></p>
          {{!-- <!--{{post.recommended}}--> --}}
          <p><strong>Topic: {{content.topic}} </strong></p>
          {{!-- <!--{{post.topic}}--> --}}

          {{!-- <p><strong>Importance:</strong></p>
          <!--{{post.importance high,medium,low,null}}--> --}}

          <div id="post-image">
            <img src="/"></img>
            {{!-- <!--{{image.source}}--> --}}
          </div>
          <p>
            <li>Author of Post: {{content.authorName}} </li>
            <li> Created at: {{content.createdAt}} </li>{{content.content}}
          </p>
          {{!-- <!--{{author.name, @date, @timeStamp, post.content.description}}--> --}}
        </div>
        <div>
          <h2>Comments</h2>
          {{#each feedback}}
          <div style="border-style: solid; border-color: black; height: 150px;">
            <p>{{this.authorName}}</p>
            {{!-- If false it will be 0, if true it will be 1 --}}
            <li> {{this.helpful}}</li>
            <li> {{this.comment}}</li>
            <li> {{this.createdAt}}</li>
            <li> {{this.postId}}</li>
          {{!-- <!--Customize title of comments...totally a last minute thought--> --}}
            <div>
              <p>@date @timestamp <strong>group-attendee</strong>: Comment Here </p>
            </div>
            {{!-- <!--{{image.source}}--> --}}
        </div>
        {{/each}}
      </div>
      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>
</div>
</div>