<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5> 
          <p>
            <strong>Owner</strong>: {{this.owner}}</p>
          <p>
          <p>
            <strong>Members</strong>: {{this.members-num}}</p>
          <p>
            <strong>Description:</strong> {{this.description}}</p>
          <p>
            {{this.posts}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

