{{!-- SINGLE Group Page --}}
{{!-- After user clicks link to enter group this is the group page --}}
<div class="container">

    <a href="/" class="button" id="backbtn">← Back To Groups</a>
        <div class="card">
          {{!-- Button to User send back to Groups --}}
          
          {{!-- variable to connect to a db = AuthorsName,GroupTitle,UserContent,GroupDate,MemberCount, groupPost --}}
          {{!-- Group page will display the  AuthorsName = Authors name, Amount of content inside = total number of posts in group
          groupDate= Date the group was created. memberCount = Total number of members, GroupPost = post inside this group --}}

          <h5 class="title">{{group.name}}jlfkgj</h5>
          {{!-- <p>Author of group is owner
            <strong>Owner</strong>: {{this.owner}}</p>
          <p> --}}
          <p>{{!-- Members Count --}}
            <strong>Members</strong>: {{members.length}}</p>
          <p>
            {{!-- Description of the group --}}
            <strong>Description:</strong> {{group.description}}</p>

          {{!-- Lists of post in group either a single line format or with individual squares similar to pintrest(each individual content gets it's own square (padding to take up space.) --}}
          {{!--Either a straight list starting from top to bottom or 2 colums across and multiple rows down --}}

          <h3 class="subtitle">Create your own Post:</h3>
          {{!-- Form for group create --}}
          <form id="create-button-group" class="control" action="../public/js/index.js" method="POST">

            <div class="field">
=======

              <label for="postTitle" class="label" >Post Title</label>
              <input type="text" id="postTitle" class="input" placeholder="Post Title">

              <label for="postAuthor" class="label" >Post Author:</label>
              <input type="text" id="authorName" class="input" placeholder="Author Name">

              <label for="postTopic" class="label">Post Topic:</label>
              <input type="text" id="postTopic" class="input" placeholder="Post Topic">


              <label for="postContent" class="label">Post Content:</label>
              <input type="text" id="postContent" class="input" placeholder="Post Content">

              {{!-- <label for="postContent">User ID:</label>
              <input type="text" id="postContent" class="form-control" placeholder="User ID">
              <label for="postContent">Group ID:</label>
              <input type="text" id="postContent" class="form-control" placeholder="Post Content"> --}}

              <button type="submit" id="createPost-button" class="button is-medium">Create</button>
=======

            </div>
          </form>

          {{#each posts}}
          <li data-id="{{this.id}}" class="list-post-item">
            {{!-- <a href="posts/{{this.id}}">{{this.postTitle}}</a> --}}
            <p>{{this.postTitle}}</p>
            <p>{{this.authorName}}</p>
            <p>{{this.postTopic}}</p>
            <p>{{this.postContent}}</p>
            <p>{{this.content}}</p>
          </li>

          {{/each}}
          {{!-- This is an example post --}}

          {{!-- This will be the div with the posts inside. Mobile responsive and side by side--}}

          {{!-- Button to User send back to Groups --}}
          {{!-- <a href="/">← Back To Home</a> --}}
        </div>
      </div>

  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>